# **Análisis de Horas Extras a Partir de Sistemas Biométricos de Control de Asistencia**
### Proyecto Final Samsung Innovation Campus – Módulo de Python (EC04)

**Integrantes:**
- Ulices Chingo 
- Sofia Feijóo
- Brayan Maisincho
- Esteban Quiña
- Alan Palma

In [1]:
# Importar Librerías
import pandas as pd
import datetime
from datetime import datetime, timedelta
import os
import matplotlib.pyplot as plt

# Importar modulos propios
from src.procesamiento import cargar_datos, procesamiento
from src.horas_extra import horas_extras
from src.reporte import val_anormales, generar_reporte

### Análisis del mes de Junio

In [2]:
# Definir directorio y archivo
dir = "data/"
file_name = "miscelaneosjunio2024.csv"

# Cargar y procesar datos
data = cargar_datos(dir + file_name)
totDATA = procesamiento(data)

# display(totDATA)

Cargando archivo de tipo: .csv
Archivo cargado exitosamente!
Columnas renombradas exitosamente.

In [3]:
# Calcular horas extras
horas_extras(totDATA, mes="junio", feriados_csv="data/feriados_2024.csv")

10 feriados cargados desde data/feriados_2024.csv
Cálculo de horas extras completado.

In [5]:
# Generar reporte
out_name = "reporte_horas_extras_junio2024.csv"
rep_junio = generar_reporte(totDATA, file_name = out_name)

Directorio 'output_data' ya existe.
Reporte guardado exitosamente en output_data/reporte_horas_extras_junio2024.csv

In [6]:
display(rep_junio)

,Nombre,Total horas extras 50%,Total horas extras 100%,Dias asistidos
0,Manuel F,46.600000,0.0,25
1,Ruth,19.333333,0.0,20
2,Graciela,18.250000,0.0,19
3,Carla Na,21.866667,0.0,20
4,Maria Narvaez,20.600000,0.0,20
5,Duvan Ra,16.533333,0.0,20
6,Stalin N,14.216667,0.0,20
7,Lucely R,15.800000,0.0,20
8,Marco Na,7.683333,0.0,20
9,Karla,-19.866667,0.0,18
10,Nancy Vi,12.000000,0.0,20
11,Diana Be,9.300000,0.0,11
12,Anderson Pe,0.116667,0.0,18
13,Deisi,5.750000,0.0,17