# **Análisis de Horas Extras a Partir de Sistemas Biométricos de Control de Asistencia**
### Proyecto Final Samsung Innovation Campus – Módulo de Python (EC04)

**Integrantes:**
- Ulices Chingo 
- Sofia Feijóo
- Brayan Maisincho
- Esteban Quiña
- Alan Palma

In [1]:
#Leer paquetes
import pandas as pd
import datetime
#C:\Users\OFICINA\Documents\PythonProjects\test.csv

In [2]:
#Cargar archivo cvs
try: 
    path_to_file = str(input("Ingrese la dirección del archivo csv: "))
    data = pd.read_csv(path_to_file, delimiter=";")
    print("Archivo cargado exitosamente!")
except:
    print("No se pudo acceder al archivo. Verificar que el archivo sea de tipo .csv, y que el archivo se encuetra guardado en la misma carpeta que CALC-HORAS-EXTRAS.ipynb")

No se pudo acceder al archivo. Verificar que el archivo sea de tipo .csv, y que el archivo se encuetra guardado en la misma carpeta que CALC-HORAS-EXTRAS.ipynb

In [41]:
display(data)

       Nombre TiemInicio TiemFinal Fecha        ????
0    Jeny Mug       6:58     12:35  5:36  13/12/2023
1    Jeny Mug      13:29     16:06  2:37  13/12/2023
2    Jeny Mug       6:54     12:41  5:47  18/12/2023
3    Jeny Mug      13:28     16:36  3:07  18/12/2023
4    Jeny Mug       7:02     12:35  5:32  19/12/2023
..        ...        ...       ...   ...         ...
336        62       6:58     12:51  5:52  28/12/2023
337        62      13:25     16:02  2:37  28/12/2023
338        62       6:59     12:42  5:42  29/12/2023
339        62      13:00     16:08  3:07  29/12/2023
340        62       7:14     12:46  5:32  30/12/2023

[341 rows x 5 columns]

In [42]:
#Renombrar headings de dataframe
new_column_names = {'TiemInicio': 'Inicio', 'TiemFinal': 'Final', 'Fecha': 'Diferencia', '????': 'Date'}
data.rename(columns=new_column_names, inplace=True)
display(data)

       Nombre Inicio  Final Diferencia        Date
0    Jeny Mug   6:58  12:35       5:36  13/12/2023
1    Jeny Mug  13:29  16:06       2:37  13/12/2023
2    Jeny Mug   6:54  12:41       5:47  18/12/2023
3    Jeny Mug  13:28  16:36       3:07  18/12/2023
4    Jeny Mug   7:02  12:35       5:32  19/12/2023
..        ...    ...    ...        ...         ...
336        62   6:58  12:51       5:52  28/12/2023
337        62  13:25  16:02       2:37  28/12/2023
338        62   6:59  12:42       5:42  29/12/2023
339        62  13:00  16:08       3:07  29/12/2023
340        62   7:14  12:46       5:32  30/12/2023

[341 rows x 5 columns]

In [43]:
#Transformar tiempos a minutos
Diff_min = []
for i in data["Diferencia"]:
    (h, m) = i.split(':')
    min1 = int(h) * 60
    min2 = int(m)
    min = min1 + min2
    Diff_min.append(min)
data["Diferencia en minutos"] = Diff_min
display(data)

       Nombre Inicio  Final Diferencia        Date  Diferencia en minutos
0    Jeny Mug   6:58  12:35       5:36  13/12/2023                    336
1    Jeny Mug  13:29  16:06       2:37  13/12/2023                    157
2    Jeny Mug   6:54  12:41       5:47  18/12/2023                    347
3    Jeny Mug  13:28  16:36       3:07  18/12/2023                    187
4    Jeny Mug   7:02  12:35       5:32  19/12/2023                    332
..        ...    ...    ...        ...         ...                    ...
336        62   6:58  12:51       5:52  28/12/2023                    352
337        62  13:25  16:02       2:37  28/12/2023                    157
338        62   6:59  12:42       5:42  29/12/2023                    342
339        62  13:00  16:08       3:07  29/12/2023                    187
340        62   7:14  12:46       5:32  30/12/2023                    332

[341 rows x 6 columns]

In [45]:
#Tabla de  tiempo trabajado por empleado por día
tiemposDia = []
personas = []
dias_trabajados = []

i=0

while i < (len(data["Nombre"])-1):
    cont=0
    tiempo_dia = data.loc[i, "Diferencia en minutos"]
    personas.append(data.loc[i, "Nombre"])
    dias_trabajados.append(data.loc[i, "Date"])
    while (data.loc[i, "Date"] == data.loc[i+cont+1, "Date"]) and (data.loc[i, "Nombre"] == data.loc[i+cont+1, "Nombre"]):
        tiempo_dia += data.loc[i+cont+1, "Diferencia en minutos"]
        cont += 1
    tiemposDia.append(tiempo_dia)
    i += cont+1

tiempo_dia = data.loc[i, "Diferencia en minutos"]
tiemposDia.append(tiempo_dia)
personas.append(data.loc[i, "Nombre"])
dias_trabajados.append(data.loc[i, "Date"])
totDATA = pd.DataFrame({"Nombre": personas, "Minutos totales por dia": tiemposDia, "Fecha": dias_trabajados})
display(totDATA)

       Nombre  Minutos totales por dia       Fecha
0    Jeny Mug                      493  13/12/2023
1    Jeny Mug                      534  18/12/2023
2    Jeny Mug                      484  19/12/2023
3    Jeny Mug                      495  20/12/2023
4    Jeny Mug                      488  21/12/2023
..        ...                      ...         ...
181        62                      560  26/12/2023
182        62                      340  27/12/2023
183        62                      509  28/12/2023
184        62                      529  29/12/2023
185        62                      332  30/12/2023

[186 rows x 3 columns]

In [46]:
#Identificar domingos y feriados
#Identificar domingo y feriados (Horas 100%) y añadir columna de fechas 100%
#Identificar sábados (Horas 50%)
from datetime import datetime, timedelta
sunday_holy = [0 for k in totDATA["Fecha"]]
is_holiday = str(input("Hay feriados en este mes? S/N:"))
if is_holiday == "N":
    for i in range(len(totDATA["Fecha"])):
        date_string = (totDATA.loc[i, "Fecha"])
        date_object = datetime.strptime(date_string, "%d/%m/%Y")
        if date_object.weekday() == 6:
            sunday_holy[i] = 1
else:
    how_many = int(input("Ingrese el número de feriados"))
    holydays = []
    for i in range(how_many):
        holyi = str(input("Ingrese la fecha en formato DD/MM/AA i.e. 28/04/2023: "))
        holydays.append(holyi)
    for i in range(len(totDATA["Fecha"])):
        date_string = (totDATA.loc[i, "Fecha"])
        for j in range(how_many):
            if date_string == holydays[j]:
                sunday_holy[i] = 1

#print(sunday_holy)

saturdays = [0 for i in totDATA["Fecha"]]
for i in range(len(totDATA["Fecha"])):
    date_string = (totDATA.loc[i, "Fecha"])
    date_object = datetime.strptime(date_string, "%d/%m/%Y")
    if date_object.weekday() == 5:
        saturdays[i] = 1
totDATA["Sábado"] = saturdays
totDATA["Domingo/Feriado"] = sunday_holy
#print(saturdays)
display(totDATA)

       Nombre  Minutos totales por dia       Fecha  Sábado  Domingo/Feriado
0    Jeny Mug                      493  13/12/2023       0                0
1    Jeny Mug                      534  18/12/2023       0                0
2    Jeny Mug                      484  19/12/2023       0                0
3    Jeny Mug                      495  20/12/2023       0                0
4    Jeny Mug                      488  21/12/2023       0                0
..        ...                      ...         ...     ...              ...
181        62                      560  26/12/2023       0                0
182        62                      340  27/12/2023       0                0
183        62                      509  28/12/2023       0                0
184        62                      529  29/12/2023       0                0
185        62                      332  30/12/2023       1                0

[186 rows x 5 columns]

In [47]:
#Minutos extra 50% Y 100% por dia y por trabajador
min50 = []
min100 = []
for i in range(len(totDATA["Fecha"])):
    #Dia normal de lunes a viernes
    if (totDATA.loc[i, "Sábado"] == 0) and (totDATA.loc[i, "Domingo/Feriado"] == 0):
        extra = totDATA.loc[i, "Minutos totales por dia"] - 480
        min50.append(extra)
        min100.append(int(0))
    #Sábado
    elif totDATA.loc[i, "Sábado"] == 1:
        extra = totDATA.loc[i, "Minutos totales por dia"]
        min50.append(extra)
        min100.append(int(0))
    #Dia especial (Domingo o feriado)
    elif totDATA.loc[i, "Domingo/Feriado"]:
        extra = totDATA.loc[i, "Minutos totales por dia"]
        min100.append(int(extra))
        min50.append(int(0))

totDATA["Minutos extra 50%"] = min50
totDATA["Minutos extra 100%"] = min100
display(totDATA)

,Nombre,Minutos totales por dia,Fecha,Sábado,Domingo/Feriado,Minutos extra 50%,Minutos extra 100%
0,Jeny Mug,493,13/12/2023,0,0,13,0
1,Jeny Mug,534,18/12/2023,0,0,54,0
2,Jeny Mug,484,19/12/2023,0,0,4,0
3,Jeny Mug,495,20/12/2023,0,0,15,0
4,Jeny Mug,488,21/12/2023,0,0,8,0
...,...,...,...,...,...,...,...
181,62,560,26/12/2023,0,0,80,0
182,62,340,27/12/2023,0,0,-140,0
183,62,509,28/12/2023,0,0,29,0
184,62,529,29/12/2023,0,0,49,0
185,62,332,30/12/2023,1,0,332,0

In [48]:
#Identificar valores anormales
for i in range(len(totDATA["Minutos extra 50%"])):
    if totDATA.loc[i, "Minutos extra 50%"] < int(0):
        print("No se cumplió la con la jornada completa en el siguiente día: ")
        display(totDATA.loc[i])

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Manuel F
Minutos totales por dia           340
Fecha                      14/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -140
Minutos extra 100%                  0
Name: 12, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                           Ruth
Minutos totales por dia           334
Fecha                      14/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -146
Minutos extra 100%                  0
Name: 27, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                           Ruth
Minutos totales por dia           332
Fecha                      19/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -148
Minutos extra 100%                  0
Name: 30, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                           Ruth
Minutos totales por dia           380
Fecha                      22/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -100
Minutos extra 100%                  0
Name: 33, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Maria Narvaez
Minutos totales por dia              479
Fecha                         14/12/2023
Sábado                                 0
Domingo/Feriado                        0
Minutos extra 50%                     -1
Minutos extra 100%                     0
Name: 66, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Maria Narvaez
Minutos totales por dia              342
Fecha                         27/12/2023
Sábado                                 0
Domingo/Feriado                        0
Minutos extra 50%                   -138
Minutos extra 100%                     0
Name: 74, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Maria Narvaez
Minutos totales por dia              467
Fecha                         28/12/2023
Sábado                                 0
Domingo/Feriado                        0
Minutos extra 50%                    -13
Minutos extra 100%                     0
Name: 75, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Duvan Ra
Minutos totales por dia           336
Fecha                      14/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -144
Minutos extra 100%                  0
Name: 79, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Stalin N
Minutos totales por dia           337
Fecha                      14/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -143
Minutos extra 100%                  0
Name: 93, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Stalin N
Minutos totales por dia           161
Fecha                      21/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -319
Minutos extra 100%                  0
Name: 99, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Nancy Vi
Minutos totales por dia           341
Fecha                      14/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -139
Minutos extra 100%                  0
Name: 134, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                             61
Minutos totales por dia           340
Fecha                      14/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -140
Minutos extra 100%                  0
Name: 160, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                             62
Minutos totales por dia           338
Fecha                      20/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -142
Minutos extra 100%                  0
Name: 178, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                             62
Minutos totales por dia           340
Fecha                      27/12/2023
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -140
Minutos extra 100%                  0
Name: 182, dtype: object

In [49]:
#Sumar minutos 50% y 100% por separado
#Contar dias asistidos por trabajador
listado = totDATA["Nombre"].unique()
tot50 = [0 for k in range(len(listado))]
tot100 = [0 for k in range(len(listado))]
dias = [0 for k in range(len(listado))]
for i in range(len(totDATA["Nombre"])):
    for j in range(len(listado)):
        if totDATA.loc[i, "Nombre"] == listado[j]:
            tot50[j] += totDATA.loc[i, "Minutos extra 50%"]
            tot100[j] += totDATA.loc[i, "Minutos extra 100%"]
            dias[j] +=1
reporte = pd.DataFrame({"Nombre": listado, "Total minutos extra 50%": tot50, "Total minutos extra 100%": tot100})
#display(reporte)

In [50]:
#Tranformar a horas (decimal format) y añadir días asistidos
hor50 = []
hor100 = []
for i in range(len(reporte["Nombre"])):
    h5 = reporte.loc[i, "Total minutos extra 50%"] / int(60)
    hor50.append(h5)
    h1 = reporte.loc[i, "Total minutos extra 100%"] / int(60)
    hor100.append(h1)
reporte_final = pd.DataFrame({"Nombre": listado, "Total horas extras 50%": hor50, "Total horas extras 100%": hor100, "Dias asistidos": dias})
reporte_final.sort_values(by='Total horas extras 50%')
display(reporte_final)

,Nombre,Total horas extras 50%,Total horas extras 100%,Dias asistidos
0,Jeny Mug,9.700000,0.0,11
1,Manuel F,19.433333,0.0,15
2,Ruth,6.116667,0.0,13
3,Graciela,10.116667,0.0,13
4,Carla Na,11.550000,0.0,13
5,Maria Narvaez,8.066667,0.0,13
6,Duvan Ra,13.800000,0.0,14
7,Stalin N,7.450000,0.0,14
8,Lucely R,10.500000,0.0,13
9,Marco Na,16.233333,0.0,14
10,Nancy Vi,8.333333,0.0,13
11,Sonia,10.066667,0.0,13
12,61,7.616667,0.0,13
13,62,10.583333,0.0,14