# **Análisis de Horas Extras a Partir de Sistemas Biométricos de Control de Asistencia**
### Proyecto Final Samsung Innovation Campus – Módulo de Python (EC04)

**Integrantes:**
- Ulices Chingo 
- Sofia Feijóo
- Brayan Maisincho
- Esteban Quiña
- Alan Palma

In [3]:
#Leer paquetes
import pandas as pd
import datetime
#C:\Users\OFICINA\Documents\PythonProjects\test.csv

# Our mini-modules
from src.func1_test import test1, test2

None

In [2]:
# Definir el archivo 
path_to_file = 'data/miscelaneosjunio2024.csv'

In [ ]:
#Cargar archivo cvs
try: 
    
    data = pd.read_csv(path_to_file, delimiter=",")
    print("Archivo cargado exitosamente!")
except:
    print("No se pudo acceder al archivo. Verificar que el archivo sea de tipo .csv, y que el archivo se encuetra guardado en la misma carpeta que CALC-HORAS-EXTRAS.ipynb")

Archivo cargado exitosamente!

In [6]:
display(data)

       Nombre TiemInicio TiemFinal Fecha        ????
0    Manuel F      04:43     09:45   5:1  01/06/2024
1    Manuel F      06:55     12:38  5:43  03/06/2024
2    Manuel F      13:27     16:12  2:44  03/06/2024
3    Manuel F      06:56     12:40  5:43  04/06/2024
4    Manuel F      13:27     16:58  3:31  04/06/2024
..        ...        ...       ...   ...         ...
497     Deisi      06:54     12:30  5:36  26/06/2024
498     Deisi      13:23     16:56  3:32  26/06/2024
499     Deisi      06:52     12:37  5:45  27/06/2024
500     Deisi      13:28     16:00  2:32  27/06/2024
501     Deisi      13:27     17:16  3:48  28/06/2024

[502 rows x 5 columns]

In [7]:
#Renombrar headings de dataframe
new_column_names = {'TiemInicio': 'Inicio', 'TiemFinal': 'Final', 'Fecha': 'Diferencia', '????': 'Date'}
data.rename(columns=new_column_names, inplace=True)
display(data)

       Nombre Inicio  Final Diferencia        Date
0    Manuel F  04:43  09:45        5:1  01/06/2024
1    Manuel F  06:55  12:38       5:43  03/06/2024
2    Manuel F  13:27  16:12       2:44  03/06/2024
3    Manuel F  06:56  12:40       5:43  04/06/2024
4    Manuel F  13:27  16:58       3:31  04/06/2024
..        ...    ...    ...        ...         ...
497     Deisi  06:54  12:30       5:36  26/06/2024
498     Deisi  13:23  16:56       3:32  26/06/2024
499     Deisi  06:52  12:37       5:45  27/06/2024
500     Deisi  13:28  16:00       2:32  27/06/2024
501     Deisi  13:27  17:16       3:48  28/06/2024

[502 rows x 5 columns]

In [8]:
#Transformar tiempos a minutos
Diff_min = []
for i in data["Diferencia"]:
    (h, m) = i.split(':')
    min1 = int(h) * 60
    min2 = int(m)
    min = min1 + min2
    Diff_min.append(min)
data["Diferencia en minutos"] = Diff_min
display(data)

       Nombre Inicio  Final Diferencia        Date  Diferencia en minutos
0    Manuel F  04:43  09:45        5:1  01/06/2024                    301
1    Manuel F  06:55  12:38       5:43  03/06/2024                    343
2    Manuel F  13:27  16:12       2:44  03/06/2024                    164
3    Manuel F  06:56  12:40       5:43  04/06/2024                    343
4    Manuel F  13:27  16:58       3:31  04/06/2024                    211
..        ...    ...    ...        ...         ...                    ...
497     Deisi  06:54  12:30       5:36  26/06/2024                    336
498     Deisi  13:23  16:56       3:32  26/06/2024                    212
499     Deisi  06:52  12:37       5:45  27/06/2024                    345
500     Deisi  13:28  16:00       2:32  27/06/2024                    152
501     Deisi  13:27  17:16       3:48  28/06/2024                    228

[502 rows x 6 columns]

In [9]:
#Tabla de  tiempo trabajado por empleado por día
tiemposDia = []
personas = []
dias_trabajados = []

i=0

while i < (len(data["Nombre"])-1):
    cont=0
    tiempo_dia = data.loc[i, "Diferencia en minutos"]
    personas.append(data.loc[i, "Nombre"])
    dias_trabajados.append(data.loc[i, "Date"])
    while (data.loc[i, "Date"] == data.loc[i+cont+1, "Date"]) and (data.loc[i, "Nombre"] == data.loc[i+cont+1, "Nombre"]):
        tiempo_dia += data.loc[i+cont+1, "Diferencia en minutos"]
        cont += 1
    tiemposDia.append(tiempo_dia)
    i += cont+1

tiempo_dia = data.loc[i, "Diferencia en minutos"]
tiemposDia.append(tiempo_dia)
personas.append(data.loc[i, "Nombre"])
dias_trabajados.append(data.loc[i, "Date"])
totDATA = pd.DataFrame({"Nombre": personas, "Minutos totales por dia": tiemposDia, "Fecha": dias_trabajados})
display(totDATA)

       Nombre  Minutos totales por dia       Fecha
0    Manuel F                      301  01/06/2024
1    Manuel F                      507  03/06/2024
2    Manuel F                      554  04/06/2024
3    Manuel F                      536  05/06/2024
4    Manuel F                      490  06/06/2024
..        ...                      ...         ...
263     Deisi                      336  19/06/2024
264     Deisi                      526  20/06/2024
265     Deisi                      548  26/06/2024
266     Deisi                      497  27/06/2024
267     Deisi                      228  28/06/2024

[268 rows x 3 columns]

In [10]:
#Identificar domingos y feriados
#Identificar domingo y feriados (Horas 100%) y añadir columna de fechas 100%
#Identificar sábados (Horas 50%)
from datetime import datetime, timedelta
sunday_holy = [0 for k in totDATA["Fecha"]]
is_holiday = str(input("Hay feriados en este mes? S/N:"))
if is_holiday == "N":
    for i in range(len(totDATA["Fecha"])):
        date_string = (totDATA.loc[i, "Fecha"])
        date_object = datetime.strptime(date_string, "%d/%m/%Y")
        if date_object.weekday() == 6:
            sunday_holy[i] = 1
else:
    how_many = int(input("Ingrese el número de feriados"))
    holydays = []
    for i in range(how_many):
        holyi = str(input("Ingrese la fecha en formato DD/MM/AA i.e. 28/04/2023: "))
        holydays.append(holyi)
    for i in range(len(totDATA["Fecha"])):
        date_string = (totDATA.loc[i, "Fecha"])
        for j in range(how_many):
            if date_string == holydays[j]:
                sunday_holy[i] = 1

#print(sunday_holy)

saturdays = [0 for i in totDATA["Fecha"]]
for i in range(len(totDATA["Fecha"])):
    date_string = (totDATA.loc[i, "Fecha"])
    date_object = datetime.strptime(date_string, "%d/%m/%Y")
    if date_object.weekday() == 5:
        saturdays[i] = 1
totDATA["Sábado"] = saturdays
totDATA["Domingo/Feriado"] = sunday_holy
#print(saturdays)
display(totDATA)

       Nombre  Minutos totales por dia       Fecha  Sábado  Domingo/Feriado
0    Manuel F                      301  01/06/2024       1                0
1    Manuel F                      507  03/06/2024       0                0
2    Manuel F                      554  04/06/2024       0                0
3    Manuel F                      536  05/06/2024       0                0
4    Manuel F                      490  06/06/2024       0                0
..        ...                      ...         ...     ...              ...
263     Deisi                      336  19/06/2024       0                0
264     Deisi                      526  20/06/2024       0                0
265     Deisi                      548  26/06/2024       0                0
266     Deisi                      497  27/06/2024       0                0
267     Deisi                      228  28/06/2024       0                0

[268 rows x 5 columns]

In [11]:
#Minutos extra 50% Y 100% por dia y por trabajador
min50 = []
min100 = []
for i in range(len(totDATA["Fecha"])):
    #Dia normal de lunes a viernes
    if (totDATA.loc[i, "Sábado"] == 0) and (totDATA.loc[i, "Domingo/Feriado"] == 0):
        extra = totDATA.loc[i, "Minutos totales por dia"] - 480
        min50.append(extra)
        min100.append(int(0))
    #Sábado
    elif totDATA.loc[i, "Sábado"] == 1:
        extra = totDATA.loc[i, "Minutos totales por dia"]
        min50.append(extra)
        min100.append(int(0))
    #Dia especial (Domingo o feriado)
    elif totDATA.loc[i, "Domingo/Feriado"]:
        extra = totDATA.loc[i, "Minutos totales por dia"]
        min100.append(int(extra))
        min50.append(int(0))

totDATA["Minutos extra 50%"] = min50
totDATA["Minutos extra 100%"] = min100
display(totDATA)

,Nombre,Minutos totales por dia,Fecha,Sábado,Domingo/Feriado,Minutos extra 50%,Minutos extra 100%
0,Manuel F,301,01/06/2024,1,0,301,0
1,Manuel F,507,03/06/2024,0,0,27,0
2,Manuel F,554,04/06/2024,0,0,74,0
3,Manuel F,536,05/06/2024,0,0,56,0
4,Manuel F,490,06/06/2024,0,0,10,0
...,...,...,...,...,...,...,...
263,Deisi,336,19/06/2024,0,0,-144,0
264,Deisi,526,20/06/2024,0,0,46,0
265,Deisi,548,26/06/2024,0,0,68,0
266,Deisi,497,27/06/2024,0,0,17,0
267,Deisi,228,28/06/2024,0,0,-252,0

In [12]:
#Identificar valores anormales
for i in range(len(totDATA["Minutos extra 50%"])):
    if totDATA.loc[i, "Minutos extra 50%"] < int(0):
        print("No se cumplió la con la jornada completa en el siguiente día: ")
        display(totDATA.loc[i])

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Manuel F
Minutos totales por dia           339
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -141
Minutos extra 100%                  0
Name: 15, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                           Ruth
Minutos totales por dia           447
Fecha                      06/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                 -33
Minutos extra 100%                  0
Name: 28, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                           Ruth
Minutos totales por dia           345
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -135
Minutos extra 100%                  0
Name: 37, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Graciela
Minutos totales por dia           341
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -139
Minutos extra 100%                  0
Name: 57, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Carla Na
Minutos totales por dia           470
Fecha                      06/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                 -10
Minutos extra 100%                  0
Name: 67, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Carla Na
Minutos totales por dia           338
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -142
Minutos extra 100%                  0
Name: 76, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Maria Narvaez
Minutos totales por dia              474
Fecha                         06/06/2024
Sábado                                 0
Domingo/Feriado                        0
Minutos extra 50%                     -6
Minutos extra 100%                     0
Name: 87, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Maria Narvaez
Minutos totales por dia              342
Fecha                         19/06/2024
Sábado                                 0
Domingo/Feriado                        0
Minutos extra 50%                   -138
Minutos extra 100%                     0
Name: 96, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Duvan Ra
Minutos totales por dia           341
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -139
Minutos extra 100%                  0
Name: 116, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Stalin N
Minutos totales por dia           336
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -144
Minutos extra 100%                  0
Name: 136, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Lucely R
Minutos totales por dia           461
Fecha                      11/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                 -19
Minutos extra 100%                  0
Name: 150, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Lucely R
Minutos totales por dia           336
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -144
Minutos extra 100%                  0
Name: 156, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Marco Na
Minutos totales por dia           346
Fecha                      13/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -134
Minutos extra 100%                  0
Name: 172, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Marco Na
Minutos totales por dia           319
Fecha                      18/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -161
Minutos extra 100%                  0
Name: 175, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Marco Na
Minutos totales por dia           334
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -146
Minutos extra 100%                  0
Name: 176, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           210
Fecha                      04/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -270
Minutos extra 100%                  0
Name: 184, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           332
Fecha                      05/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -148
Minutos extra 100%                  0
Name: 185, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           333
Fecha                      06/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -147
Minutos extra 100%                  0
Name: 186, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           336
Fecha                      07/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -144
Minutos extra 100%                  0
Name: 187, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           206
Fecha                      10/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -274
Minutos extra 100%                  0
Name: 188, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           335
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -145
Minutos extra 100%                  0
Name: 194, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           192
Fecha                      24/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -288
Minutos extra 100%                  0
Name: 197, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Karla
Minutos totales por dia           208
Fecha                      26/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -272
Minutos extra 100%                  0
Name: 199, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Nancy Vi
Minutos totales por dia           322
Fecha                      10/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -158
Minutos extra 100%                  0
Name: 207, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Nancy Vi
Minutos totales por dia           159
Fecha                      13/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -321
Minutos extra 100%                  0
Name: 210, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                       Nancy Vi
Minutos totales por dia           344
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -136
Minutos extra 100%                  0
Name: 214, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Anderson Pe
Minutos totales por dia            221
Fecha                       10/06/2024
Sábado                               0
Domingo/Feriado                      0
Minutos extra 50%                 -259
Minutos extra 100%                   0
Name: 238, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Anderson Pe
Minutos totales por dia            473
Fecha                       13/06/2024
Sábado                               0
Domingo/Feriado                      0
Minutos extra 50%                   -7
Minutos extra 100%                   0
Name: 240, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Anderson Pe
Minutos totales por dia            267
Fecha                       14/06/2024
Sábado                               0
Domingo/Feriado                      0
Minutos extra 50%                 -213
Minutos extra 100%                   0
Name: 241, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                     Anderson Pe
Minutos totales por dia            344
Fecha                       19/06/2024
Sábado                               0
Domingo/Feriado                      0
Minutos extra 50%                 -136
Minutos extra 100%                   0
Name: 244, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Deisi
Minutos totales por dia           336
Fecha                      19/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -144
Minutos extra 100%                  0
Name: 263, dtype: object

No se cumplió la con la jornada completa en el siguiente día:

Nombre                          Deisi
Minutos totales por dia           228
Fecha                      28/06/2024
Sábado                              0
Domingo/Feriado                     0
Minutos extra 50%                -252
Minutos extra 100%                  0
Name: 267, dtype: object

In [13]:
#Sumar minutos 50% y 100% por separado
#Contar dias asistidos por trabajador
listado = totDATA["Nombre"].unique()
tot50 = [0 for k in range(len(listado))]
tot100 = [0 for k in range(len(listado))]
dias = [0 for k in range(len(listado))]
for i in range(len(totDATA["Nombre"])):
    for j in range(len(listado)):
        if totDATA.loc[i, "Nombre"] == listado[j]:
            tot50[j] += totDATA.loc[i, "Minutos extra 50%"]
            tot100[j] += totDATA.loc[i, "Minutos extra 100%"]
            dias[j] +=1
reporte = pd.DataFrame({"Nombre": listado, "Total minutos extra 50%": tot50, "Total minutos extra 100%": tot100})
#display(reporte)

In [ ]:
#Tranformar a horas (decimal format) y añadir días asistidos
hor50 = []
hor100 = []
for i in range(len(reporte["Nombre"])):
    h5 = reporte.loc[i, "Total minutos extra 50%"] / int(60)
    hor50.append(h5)
    h1 = reporte.loc[i, "Total minutos extra 100%"] / int(60)
    hor100.append(h1)
reporte_final = pd.DataFrame({"Nombre": listado, "Total horas extras 50%": hor50, "Total horas extras 100%": hor100, "Dias asistidos": dias})
reporte_final.sort_values(by='Total horas extras 50%')
display(reporte_final)

,Nombre,Total horas extras 50%,Total horas extras 100%,Dias asistidos
0,Manuel F,46.600000,0.0,25
1,Ruth,19.333333,0.0,20
2,Graciela,18.250000,0.0,19
3,Carla Na,21.866667,0.0,20
4,Maria Narvaez,20.600000,0.0,20
5,Duvan Ra,16.533333,0.0,20
6,Stalin N,14.216667,0.0,20
7,Lucely R,15.800000,0.0,20
8,Marco Na,7.683333,0.0,20
9,Karla,-19.866667,0.0,18
10,Nancy Vi,12.000000,0.0,20
11,Diana Be,9.300000,0.0,11
12,Anderson Pe,0.116667,0.0,18
13,Deisi,5.750000,0.0,17