# Inteligencia Artificial

**Nombre:** Alan Palma

## Capítulo 3

### NumPy Arrays: Computación Numérica Optimizada y Pandas: Análisis Exploratorio de Datos

- **Unidad 1.** Estructura de datos de matriz de NumPy para un rendimiento computacional óptimo
- **Unidad 2.** Exploración óptima de datos a través de pandas
- **Unidad 3.** Pre-procesamiento de datos de pandas para una ejecución óptima del modelo
- **Unidad 4.** Visualización de datos para varias escalas de datos

## Capítulo 4

### Probabilidad y estadística

- **Unidad 1.** Comprensión de la probabilidad
- **Unidad 2.** Comprensión de la Estadística I
- **Unidad 3.** Comprensión de la Estadística II
- **Unidad 4.** Prueba de hipótesis estadística

## Capítulo 5

### Machine Learning / Aprendizaje Supervisado

- **Unidad 1.** Análisis de datos basado en el aprendizaje automático
- **Unidad 2.** Aplicación del modelo de aprendizaje supervisado para la predicción numérica
- **Unidad 3.** Aplicación del modelo de aprendizaje supervisado para la clasificación
- **Unidad 4.** Árbol de decisión
- **Unidad 5.** Algoritmo Naïve Bayes (Algoritmo de predicción)
- **Unidad 6.** Algoritmo KNN
- **Unidad 7.** Algoritmo SVM
- **Unidad 8.** Algoritmos Ensemble

# Quiz

___

## Q 03-01

### ¿Cuál es una sintaxis correcta para crear una matriz NumPy?

1. np.createArray([1, 2, 3, 4, 5])
2. np.array([1, 2, 3, 4, 5])
3. np.object([1, 2, 3, 4, 5])

**Respuesta:**

La respuesta correcta es **2:** ```np.array([1, 2, 3, 4, 5])```

**Respuesta:**

## Q 03-02

### Responde las siguientes preguntas.

```
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

# Lea los datos.
# Vaya al directorio donde se encuentra el archivo de los datos.
os.chdir(r'~~') # Reemplace con la dirección del archivo
df = pd.read_csv('data_sales.csv', header='infer')
df.shape
df.head(5)
```

1. Agregue una nueva variable 𝐴𝑚𝑜𝑢𝑛𝑡=𝑈𝑛𝑖𝑡𝑃𝑟𝑖𝑐×𝑈𝑛𝑖𝑡𝑠Amount=UnitPric×Units.
2. Precio unitario medio de cada región. Utilice el método groupby().
3. Precio unitario medio de cada región. Usa el método pivot_table().

**Respuesta:**

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

# Lea los datos.
# Vaya al directorio donde se encuentra el archivo de los datos.
# os.chdir(r'~~') # Reemplace con la dirección del archivo
df = pd.read_csv('data_sales.csv', header='infer')
df.shape
df.head(5)

        Date   Region     Item  Unit Price  Units
0  04-Jul-14     East  Pen Set        4.99     62
1  12-Jul-14     East   Binder        1.99     29
2  21-Jul-14  Central  Pen Set       12.49     55
3  29-Jul-14     East   Binder       19.99     81
4  07-Aug-14  Central  Pen Set       23.95     42

In [3]:
# 1. Agregar una nueva variable (Amount)
df['Amount'] = df['Unit Price'] * df['Units']

df.head(5)

        Date   Region     Item  Unit Price  Units   Amount
0  04-Jul-14     East  Pen Set        4.99     62   309.38
1  12-Jul-14     East   Binder        1.99     29    57.71
2  21-Jul-14  Central  Pen Set       12.49     55   686.95
3  29-Jul-14     East   Binder       19.99     81  1619.19
4  07-Aug-14  Central  Pen Set       23.95     42  1005.90

In [4]:
# 2. Precio promedio por región
avg_price_region = df.groupby('Region')['Unit Price'].mean()
avg_price_region

Region
Central    18.018750
East        9.143846
West       53.658333
Name: Unit Price, dtype: float64

In [5]:
# 3. Precio promedio por región (pivot_table())
pivot_avg_price_region = pd.pivot_table(df, values='Unit Price', index='Region', aggfunc=np.mean)
pivot_avg_price_region

/tmp/ipykernel_21867/978444498.py:2: FutureWarning: The provided callable <function mean at 0x7a2d540d0790> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_avg_price_region = pd.pivot_table(df, values='Unit Price', index='Region', aggfunc=np.mean)

         Unit Price
Region
Central   18.018750
East       9.143846
West      53.658333

## Q 04-01

### ¿Qué no es correcto como interpretación del modelo de ajuste en el siguiente análisis estadístico?



1. En el análisis estadístico, la prueba unilateral indica que la hipótesis nula para el parámetro es H_0 ∶ θ = θ_0 y la hipótesis alternativa se puede definir como H_1 ∶ θ < θ_0 o H_1 ∶ θ > θ_0.
2. El error tipo I es el nivel de significancia y es un error que ocurre cuando se rechaza la hipótesis nula verdadera aunque la hipótesis nula sea verdadera.
3. Si la probabilidad de significancia p es mayor que el nivel de significancia α (p > α), se rechaza la hipótesis nula y se adopta la hipótesis alternativa
4. Para probar la significancia de la ecuación de regresión, se debe realizar una prueba de significancia en la pendiente de la ecuación de regresión, por lo que la hipótesis es H_0 ∶ β_1= 0, H_1 ∶ β_1≠ 0 (donde β_1 es la pendiente de la ecuación de regresión ecuación).

**Respuesta:**

La respuesta incorrecta es la 3. La probabilidad de significancia mide que tan compatible son los datos con la hipótesis nula. Un valor bajo indica que los datos son incompatibles con la hipótesis nula, lo que sugiere que debemos rechazarla ($p \le \alpha$). Por otro lado, un valor alto indica que los datos son compatibles con la hipótesis nula, lo que sugiere que no tenemos suficiente evidencia para rechazarla ($p > \alpha$).

## Q 04-02

### Entre los estudiantes que tomaron la clase de Información y Estadística, se seleccionaron aleatoriamente 30 estudiantes. Al investigar el promedio de sus calificaciones, la media fue 80 y la varianza fue 9. Encuentre un intervalo de confianza del 95% para el promedio de sus calificaciones.

**Respuesta:**

In [7]:
import scipy.stats as stats
import math

# Datos del problema
n = 30
media_muestral = 80
varianza_muestral = 9
desviacion_estandar = math.sqrt(varianza_muestral)
nivel_confianza = 0.95

# Calcular el valor crítico t de Student
grados_libertad = n - 1
alpha = 1 - nivel_confianza
t_critico = stats.t.ppf(1 - alpha/2, grados_libertad)

# Calcular el error estándar
error_estandar = desviacion_estandar / math.sqrt(n)

# Calcular el margen de error
margen_error = t_critico * error_estandar

# Calcular el intervalo de confianza
limite_inferior = media_muestral - margen_error
limite_superior = media_muestral + margen_error

print(f"INTERVALO DE CONFIANZA AL 95%:")
print(f"\nIntervalo: ({limite_inferior:.2f}, {limite_superior:.2f})")

INTERVALO DE CONFIANZA AL 95%:

Intervalo: (78.88, 81.12)

## Q 05-01

### ¿Cuál de las siguientes afirmaciones sobre el aprendizaje supervisado es incorrecta?

1. El aprendiz supervisado debe hacer predicciones correctamente con los datos dados a partir de los datos de entrenamiento.
2. La precisión es la relación entre lo que el modelo clasifica como verdadero y lo que realmente clasifica como verdadero. A esto se le puede llamar la tasa de respuesta.
3. La relación de recuerdo es la relación entre lo que el modelo predice que es verdadero y lo que es realmente cierto.
4. La relación de recuperación se calcula como $\frac{tp}{tp+fp}$. (donde $tp$ es verdadero positivo y $fp$ es falso positivo).

**Respuesta:**

La respuesta incorrecta es la **4**: porque confunde la fórmula de precision no es la misma que la recuperación (recall).

## Q 05-02

### ¿Cuál de las siguientes afirmaciones sobre el sobreajuste es incorrecta?

1. Una característica de un patrón que se encuentra en un conjunto de datos específico que existe solo en ese conjunto de datos, o una característica de un patrón que no se generaliza y existe solo en un dato específico se denomina sobreajuste
2. Los métodos de extracción utilizados para resolver el problema de sobreajuste incluyen el método de exclusión, el método de validación cruzada, el método de arranque, etc.
3. En el método de reserva, la validación cruzada se realiza dividiendo los datos de entrenamiento para el aprendizaje y la construcción del modelo y los datos de verificación para la evaluación del desempeño, y los resultados de los datos de verificación se usan solo para la medición del desempeño sin afectar el modelo.
4. El método de validación cruzada es un método para volver a seleccionar datos de entrenamiento repetidamente y en función de la extracción de restauración, y es adecuado cuando la cantidad total de datos no es grande.

**Respuesta:**

La respuesta incorrecta es la **4**: La validación cruzada consiste en dividir los datos en k pliegues, entrenar y validar k veces.

___

## Fin