# Inteligencia Artificial

**Nombre:** Alan Palma

## Cap√≠tulo 3

### NumPy Arrays: Computaci√≥n Num√©rica Optimizada y Pandas: An√°lisis Exploratorio de Datos

- **Unidad 1.** Estructura de datos de matriz de NumPy para un rendimiento computacional √≥ptimo
- **Unidad 2.** Exploraci√≥n √≥ptima de datos a trav√©s de pandas
- **Unidad 3.** Pre-procesamiento de datos de pandas para una ejecuci√≥n √≥ptima del modelo
- **Unidad 4.** Visualizaci√≥n de datos para varias escalas de datos

## Cap√≠tulo 4

### Probabilidad y estad√≠stica

- **Unidad 1.** Comprensi√≥n de la probabilidad
- **Unidad 2.** Comprensi√≥n de la Estad√≠stica I
- **Unidad 3.** Comprensi√≥n de la Estad√≠stica II
- **Unidad 4.** Prueba de hip√≥tesis estad√≠stica

## Cap√≠tulo 5

### Machine Learning / Aprendizaje Supervisado

- **Unidad 1.** An√°lisis de datos basado en el aprendizaje autom√°tico
- **Unidad 2.** Aplicaci√≥n del modelo de aprendizaje supervisado para la predicci√≥n num√©rica
- **Unidad 3.** Aplicaci√≥n del modelo de aprendizaje supervisado para la clasificaci√≥n
- **Unidad 4.** √Årbol de decisi√≥n
- **Unidad 5.** Algoritmo Na√Øve Bayes (Algoritmo de predicci√≥n)
- **Unidad 6.** Algoritmo KNN
- **Unidad 7.** Algoritmo SVM
- **Unidad 8.** Algoritmos Ensemble

# Quiz

___

## Q 03-01

### ¬øCu√°l es una sintaxis correcta para crear una matriz NumPy?

1. np.createArray([1, 2, 3, 4, 5])
2. np.array([1, 2, 3, 4, 5])
3. np.object([1, 2, 3, 4, 5])

**Respuesta:**

La respuesta correcta es **2:** ```np.array([1, 2, 3, 4, 5])```

**Respuesta:**

## Q 03-02

### Responde las siguientes preguntas.

```
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

# Lea los datos.
# Vaya al directorio donde se encuentra el archivo de los datos.
os.chdir(r'~~') # Reemplace con la direcci√≥n del archivo
df = pd.read_csv('data_sales.csv', header='infer')
df.shape
df.head(5)
```

1. Agregue una nueva variable ùê¥ùëöùëúùë¢ùëõùë°=ùëàùëõùëñùë°ùëÉùëüùëñùëê√óùëàùëõùëñùë°ùë†Amount=UnitPric√óUnits.
2. Precio unitario medio de cada regi√≥n. Utilice el m√©todo groupby().
3. Precio unitario medio de cada regi√≥n. Usa el m√©todo pivot_table().

**Respuesta:**

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

# Lea los datos.
# Vaya al directorio donde se encuentra el archivo de los datos.
# os.chdir(r'~~') # Reemplace con la direcci√≥n del archivo
df = pd.read_csv('data_sales.csv', header='infer')
df.shape
df.head(5)

        Date   Region     Item  Unit Price  Units
0  04-Jul-14     East  Pen Set        4.99     62
1  12-Jul-14     East   Binder        1.99     29
2  21-Jul-14  Central  Pen Set       12.49     55
3  29-Jul-14     East   Binder       19.99     81
4  07-Aug-14  Central  Pen Set       23.95     42

In [3]:
# 1. Agregar una nueva variable (Amount)
df['Amount'] = df['Unit Price'] * df['Units']

df.head(5)

        Date   Region     Item  Unit Price  Units   Amount
0  04-Jul-14     East  Pen Set        4.99     62   309.38
1  12-Jul-14     East   Binder        1.99     29    57.71
2  21-Jul-14  Central  Pen Set       12.49     55   686.95
3  29-Jul-14     East   Binder       19.99     81  1619.19
4  07-Aug-14  Central  Pen Set       23.95     42  1005.90

In [4]:
# 2. Precio promedio por regi√≥n
avg_price_region = df.groupby('Region')['Unit Price'].mean()
avg_price_region

Region
Central    18.018750
East        9.143846
West       53.658333
Name: Unit Price, dtype: float64

In [5]:
# 3. Precio promedio por regi√≥n (pivot_table())
pivot_avg_price_region = pd.pivot_table(df, values='Unit Price', index='Region', aggfunc=np.mean)
pivot_avg_price_region

/tmp/ipykernel_21867/978444498.py:2: FutureWarning: The provided callable <function mean at 0x7a2d540d0790> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_avg_price_region = pd.pivot_table(df, values='Unit Price', index='Region', aggfunc=np.mean)

         Unit Price
Region
Central   18.018750
East       9.143846
West      53.658333

## Q 04-01

### ¬øQu√© no es correcto como interpretaci√≥n del modelo de ajuste en el siguiente an√°lisis estad√≠stico?



1. En el an√°lisis estad√≠stico, la prueba unilateral indica que la hip√≥tesis nula para el par√°metro es H_0 ‚à∂ Œ∏ = Œ∏_0 y la hip√≥tesis alternativa se puede definir como H_1 ‚à∂ Œ∏ < Œ∏_0 o H_1 ‚à∂ Œ∏ > Œ∏_0.
2. El error tipo I es el nivel de significancia y es un error que ocurre cuando se rechaza la hip√≥tesis nula verdadera aunque la hip√≥tesis nula sea verdadera.
3. Si la probabilidad de significancia p es mayor que el nivel de significancia Œ± (p > Œ±), se rechaza la hip√≥tesis nula y se adopta la hip√≥tesis alternativa
4. Para probar la significancia de la ecuaci√≥n de regresi√≥n, se debe realizar una prueba de significancia en la pendiente de la ecuaci√≥n de regresi√≥n, por lo que la hip√≥tesis es H_0 ‚à∂ Œ≤_1= 0, H_1 ‚à∂ Œ≤_1‚â† 0 (donde Œ≤_1 es la pendiente de la ecuaci√≥n de regresi√≥n ecuaci√≥n).

**Respuesta:**

La respuesta incorrecta es la 3. La probabilidad de significancia mide que tan compatible son los datos con la hip√≥tesis nula. Un valor bajo indica que los datos son incompatibles con la hip√≥tesis nula, lo que sugiere que debemos rechazarla ($p \le \alpha$). Por otro lado, un valor alto indica que los datos son compatibles con la hip√≥tesis nula, lo que sugiere que no tenemos suficiente evidencia para rechazarla ($p > \alpha$).

## Q 04-02

### Entre los estudiantes que tomaron la clase de Informaci√≥n y Estad√≠stica, se seleccionaron aleatoriamente 30 estudiantes. Al investigar el promedio de sus calificaciones, la media fue 80 y la varianza fue 9. Encuentre un intervalo de confianza del 95% para el promedio de sus calificaciones.

**Respuesta:**

In [7]:
import scipy.stats as stats
import math

# Datos del problema
n = 30
media_muestral = 80
varianza_muestral = 9
desviacion_estandar = math.sqrt(varianza_muestral)
nivel_confianza = 0.95

# Calcular el valor cr√≠tico t de Student
grados_libertad = n - 1
alpha = 1 - nivel_confianza
t_critico = stats.t.ppf(1 - alpha/2, grados_libertad)

# Calcular el error est√°ndar
error_estandar = desviacion_estandar / math.sqrt(n)

# Calcular el margen de error
margen_error = t_critico * error_estandar

# Calcular el intervalo de confianza
limite_inferior = media_muestral - margen_error
limite_superior = media_muestral + margen_error

print(f"INTERVALO DE CONFIANZA AL 95%:")
print(f"\nIntervalo: ({limite_inferior:.2f}, {limite_superior:.2f})")

INTERVALO DE CONFIANZA AL 95%:

Intervalo: (78.88, 81.12)

## Q 05-01

### ¬øCu√°l de las siguientes afirmaciones sobre el aprendizaje supervisado es incorrecta?

1. El aprendiz supervisado debe hacer predicciones correctamente con los datos dados a partir de los datos de entrenamiento.
2. La precisi√≥n es la relaci√≥n entre lo que el modelo clasifica como verdadero y lo que realmente clasifica como verdadero. A esto se le puede llamar la tasa de respuesta.
3. La relaci√≥n de recuerdo es la relaci√≥n entre lo que el modelo predice que es verdadero y lo que es realmente cierto.
4. La relaci√≥n de recuperaci√≥n se calcula como $\frac{tp}{tp+fp}$. (donde $tp$ es verdadero positivo y $fp$ es falso positivo).

**Respuesta:**

La respuesta incorrecta es la **4**: porque confunde la f√≥rmula de precision no es la misma que la recuperaci√≥n (recall).

## Q 05-02

### ¬øCu√°l de las siguientes afirmaciones sobre el sobreajuste es incorrecta?

1. Una caracter√≠stica de un patr√≥n que se encuentra en un conjunto de datos espec√≠fico que existe solo en ese conjunto de datos, o una caracter√≠stica de un patr√≥n que no se generaliza y existe solo en un dato espec√≠fico se denomina sobreajuste
2. Los m√©todos de extracci√≥n utilizados para resolver el problema de sobreajuste incluyen el m√©todo de exclusi√≥n, el m√©todo de validaci√≥n cruzada, el m√©todo de arranque, etc.
3. En el m√©todo de reserva, la validaci√≥n cruzada se realiza dividiendo los datos de entrenamiento para el aprendizaje y la construcci√≥n del modelo y los datos de verificaci√≥n para la evaluaci√≥n del desempe√±o, y los resultados de los datos de verificaci√≥n se usan solo para la medici√≥n del desempe√±o sin afectar el modelo.
4. El m√©todo de validaci√≥n cruzada es un m√©todo para volver a seleccionar datos de entrenamiento repetidamente y en funci√≥n de la extracci√≥n de restauraci√≥n, y es adecuado cuando la cantidad total de datos no es grande.

**Respuesta:**

La respuesta incorrecta es la **4**: La validaci√≥n cruzada consiste en dividir los datos en k pliegues, entrenar y validar k veces.

___

## Fin